
.wrapper {
	margin: 0 auto;
	
}
.images {
  display: flex;
  margin-right: -30px;
  
}
.s_img{
	margin-right: 30px;
}
.add_foto {
  text-align: center;
  margin-top: 50px;
}
.add_foto input {
  width: 400px;
  background: lightblue;
}
.add_foto span {
  font-size: 20px;
}
.add_foto button {
  background: lightgreen;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
}