* {
    box-sizing: border-box;
}
body {
    background-color: rgb(176, 211, 199);
}
.wrapper {
    max-width: 960px;

    margin: 0 auto;
    
}
.items{
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-top: -10px;
}
.item{
    width: 300px;
    height: 400px;
    padding: 5px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: cornflowerblue;
    border: 1px solid gray;
}
